/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.row{
    margin: auto;
    width: 60%;
    height: 300px;
    display: block;
}
.col{
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: center;
}
